<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicommunity.mapper.PostLikeMapper">

    <select id="selectLikeCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_new_post_likes
        WHERE post_id = #{postId}
          AND view_user_id = #{userId}
    </select>

    <insert id="insertLike">
        INSERT INTO t_new_post_likes (
            post_id,
            view_user_id,
            create_time
        ) VALUES (
            #{postId},
            #{userId},
            NOW()
        )
    </insert>

    <delete id="deleteLike">
        DELETE FROM t_new_post_likes
        WHERE post_id = #{postId}
          AND view_user_id = #{userId}
    </delete>

</mapper>
