<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicommunity.mapper.LikeMapper">

    <insert id="insert">
        INSERT INTO likes (user_id, target_type, target_id, create_time)
        VALUES (#{userId}, #{targetType}, #{targetId}, NOW())
    </insert>

    <delete id="deleteByUserAndTarget">
        DELETE FROM likes WHERE user_id = #{userId} AND target_type = #{targetType} AND target_id = #{targetId}
    </delete>

    <select id="existsByUserAndTarget" resultType="boolean">
        SELECT COUNT(*) > 0 FROM likes 
        WHERE user_id = #{userId} AND target_type = #{targetType} AND target_id = #{targetId}
    </select>

    <delete id="deleteByTarget">
        DELETE FROM likes WHERE target_type = #{targetType} AND target_id = #{targetId}
    </delete>

</mapper>
